.bording-table {
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
}

.bording-table, .bording-table tr, .bording-table td {
  margin-top: 15px;
}

.withoutborder {
  border: none !important;
}
  
.squares {
  font-size: 15px;
}
/* For Iphone 6S */
  @media screen and (min-width: 374px) {
  .squares {
    font-size: 15px;
    width: 5px;
  }
  .withoutborder {
    font-size: 15px;
  }
  .submit-buttomaaa {
    height: 14px;
    font-size: 15px;
  }
}
/* For Ipad */
  @media screen and (min-width: 729px) {
  .squares {
    font-size: 25px;
  }
  .withoutborder {
    font-size: 30px;
  }
  .submit-buttomaaa {
    height: 15px;
    font-size: 25px;
  }
}

/* For Lenovo */
  @media screen and (min-width: 1341px) {
  .squares {
    font-size: 20px;
  }
  .withoutborder {
    font-size: 21px;
  }
  .bording-table {
    width: 80%;
  }
  .submit-buttomaaa {
    height: 25px;
    font-size: 15px;
  }
}
/* For Samsung TV */
@media screen and (min-width: 1919px) {
  .squares {
    font-size: 30px;
  }
  .withoutborder {
    font-size: 30px;
  }
  .bording-table {
    width: 80%;
  }
  .submit-buttomaaa {
    height: 45px;
    font-size: 30px;
  }
  .leftmargin {
  padding-left: 25px;
  }
}